%footer.main-footer.style-2
  .auto-container
    .row
      .office-column.col-md-4.col-xs-12
        %h2 Contacto
        .info
          %a{ href: '#' }
            = image_tag 'map-marker.svg', alt: 'Ubicacion'
            Tiburcio Gómez 1330 Montevideo, Uruguay.
          %br
          %a{ href: 'https://api.whatsapp.com/send?phone=59894440224', target: '_blank' }
            = image_tag 'whatsapp.svg', alt: 'WhatsApp'
            (+598) 94 440 224
          %br
          %a{ href: 'mailto:mdeamestoy@zonabrokers.com' }
            = image_tag 'mailto.svg', alt: 'Email'
            mdeamestoy@zonabrokers.com
      .social-column.col-md-4.col-xs-12
        %h2 Seguinos
        .info
          %a{ href: 'https://www.facebook.com/zonabrokers' }
            = image_tag 'face.svg', alt: 'facebook'
            zona.brokers
          %br
          %a{ href: 'https://www.instagram.com/zonabrokers/' }
            = image_tag 'insta.svg', alt: 'Instagram'
            zona.brokers
          %br
          %a{ href: 'https://www.linkedin.com/company/zonabrokers' }
            = image_tag 'link.svg', alt: 'WhatsApp'
            zona.brokers
      .office-column.col-md-4.col-xs-12
        .powered-by
          .text
            Powered by
          = image_tag 'infocasas.png', alt: 'Logo'
