%footer.main-footer.style-2
  .auto-container
    .row
      .office-column.col-md-4.col-xs-12.c-left
        %h2 Contacto
        .line
        .info
          %a{ href: '#' }
            = image_tag 'map-marker.svg', alt: 'Ubicacion'
            Tiburcio Gómez 1330 Montevideo, Uruguay.
          %br
          %a{ href: 'https://api.whatsapp.com/send?phone=59894440224', target: '_blank' }
            = image_tag 'whatsapp.svg', alt: 'WhatsApp'
            (+598) 94 440 224
          %br
          %a{ href: 'mailto:mdeamestoy@zonabrokers.com' }
            = image_tag 'mailto.svg', alt: 'Email'
            mdeamestoy@zonabrokers.com
      .social-column.col-md-4.col-xs-12.c-center
        %h2 Seguinos
        .line
        .info
          %a{ href: 'https://www.facebook.com/zonabrokers' }
            = image_tag 'face.svg', alt: 'facebook'
          %br
          %a{ href: 'https://www.instagram.com/zonabrokers/' }
            = image_tag 'insta.svg', alt: 'Instagram'
          %br
          %a{ href: 'https://www.linkedin.com/company/zonabrokers' }
            = image_tag 'link.svg', alt: 'WhatsApp'
      .office-column.col-md-4.col-xs-12.c-footer
        .right
          = image_tag 'logo_f.svg', alt: 'Logo'
          .powered-by
            Powered by
          = image_tag 'infocasas_g.svg', alt: 'Logo'
          .powered-by
            Socios
          = image_tag 'adiu.svg', alt: 'Logo'
