%footer.main-footer
  .auto-container
    .row
      .footer-column.col-md-5.col-sm-5.col-xs-12
        = link_to '/', class: 'logo' do
          = image_tag 'logo.png', title: SITE_CONFIG['site_name'], alt: SITE_CONFIG['site_name']

      .footer-column.col-md-4.col-sm-4.col-xs-12
        %h2 Tags
        %ul
          %li
            = link_to 'Inmuebles', '/venta?utf8=%E2%9C%93&operation_type_name=venta&property_type_id%5B%5D=1&property_type_id%5B%5D=2&zone_id%5B%5D=D10&state_id=10'
          %li
            = link_to 'Propiedades en Alquiler', '/alquiler?utf8=%E2%9C%93&operation_type_name=alquiler&property_type_id%5B%5D=1&property_type_id%5B%5D=2&zone_id%5B%5D=D10&state_id=10'
          %li
            = link_to 'Propiedades en Venta', '/venta?property_type_id%5B%5D=2&property_type_id%5B%5D=1&state_id=10'
          %li
            = link_to 'Casas en Venta', '/venta?utf8=%E2%9C%93&operation_type_name=venta&property_type_id%5B%5D=1&zone_id%5B%5D=D10&state_id=10'

      .footer-column.social-column.col-md-3.col-sm-3.col-xs-12
        %h2 Social
        %ul
          %li
            = link_to 'https://www.facebook.com/ElObservadorUY/?ref=br_rs', target: '_blank' do
              .icon.fa.fa-facebook-f
              %span
                Facebook
          %li
            = link_to 'https://twitter.com/observadoruy?lang=en', target: '_blank' do
              .icon.fa.fa-twitter
              %span
                Twitter
          %li
            = link_to 'https://www.instagram.com/observadoruy/?hl=en', target: '_blank' do
              .icon.fa.fa-instagram
              %span
                Instagram
          %li
            = link_to 'https://www.youtube.com/user/ObservaUY', target: '_blank' do
              .icon.fa.fa-youtube
              %span
                Youtube
          %li
            = link_to 'https://play.spotify.com/user/observadoruy?play=true&utm_source=open.spotify.com&utm_medium=open&ref=wp', target: '_blank' do
              .icon.fa.fa-spotify
              %span
                Spotify
          %li
            = link_to 'https://www.pinterest.com/observadoruy/', target: '_blank' do
              .icon.fa.fa-pinterest
              %span
                Pinterest
          %li
            = link_to 'https://plus.google.com/u/0/+ElObservadorUru', target: '_blank' do
              .icon.fa.fa-google-plus
              %span
                Google +

    %hr

    .powered-by
      .text
        Powered by
      = image_tag 'infocasas.png', alt: ''
