%header.main-header.style-2
  = link_to '/', class: 'logo' do
    = image_tag 'logo.jpg', title: SITE_CONFIG['site_name'], alt: SITE_CONFIG['site_name']
  %button.visible-sm.visible-xs#menu-button{ class: "style-#{SITE_CONFIG['buttons_style']}" }
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .right-container.visible-lg.visible-md.prevent-text-select#collapsable-menu
    = link_to 'VENTA', properties_path('venta')
    = link_to 'ALQUILER', properties_path('alquiler')
    = link_to 'PROYECTOS', properties_path('proyectos') if SITE_CONFIG['display_projects']
    = link_to 'TERRENOS', properties_path('terrenos') if SITE_CONFIG['display_terrains']
    = link_to 'NOSOTROS', about_path if SITE_CONFIG['display_about_page']
    = link_to 'BLOG', about_path if SITE_CONFIG['display_blog_page']
    = link_to 'CONTACTO', contact_us_path
