%section.home-banner{ class: "style-#{SITE_CONFIG['home_banner_style']}" }
  .gradient
  .form-container
    %h1 #{SITE_CONFIG['home_title'].html_safe}
    .banner-form-box
      .container
        .row
          = form_tag '/', method: 'get', class: 'properties-search' do
            - if SITE_CONFIG['home_banner_style'] == '4'
              = render partial: 'welcome/banner-square'
            - else
              = render partial: 'welcome/banner-wide'
            .hidden
              = select_tag "state_id", options_for_select(states.map { |obj| ["#{obj[:name]}", obj[:id]] })
        - if SITE_CONFIG['home_banner_style'] != '5'
          -# .row
          -#   .search-by-reference.col-md-6.col-sm-6.col-xs-8
          -#     %i.icon-plus-circled
          -#     Buscar por referencia
          -#   .powered-by.col-md-6.col-sm-6.col-xs-4
          -#     .text
          -#       Powered by
          -#     = image_tag 'infocasas.png', alt: ''
        .row
          = form_tag reference_search_properties_path, method: 'get', class: 'reference-search hidden' do
            - if SITE_CONFIG['home_banner_style'] == '5'
              .text
                Buscar por referencia
            %input{ name: 'ref', placeholder: 'Ref. 12345', required: '', type: 'text', value: '', class: 'reference-search-input' }
            %button.primary{ class: "style-#{SITE_CONFIG['buttons_style']}", type: 'submit'}
              = fa_icon "chevron-right"

  - if SITE_CONFIG['display_continue_search']
    .continue-search-container
      = link_to '', class: 'continue-search hidden' do
        %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
          Continuar con mi última búsqueda
