- if SITE_CONFIG['set_og_tags']
  - set_meta_tags og: { title: 'Empresa', url: request.original_url, image: 'aboutPage/about-page.jpg' }
- title 'Empresa'

.page-content
  %section.about-container.style-2
    .image-container
    .description.container
      .row
        .col-12
          %h2 Quienes somos
          %p Zona Brokers nace en el rubro inmobiliario para ofrecer un servicio actual y personalizado a todos nuestros clientes a través de una nueva generación de profesionales que entienden las necesidades de un mercado en constante cambio.
          %p Contamos con un departamento legal que brinda asesoría con escribanos, contadores y abogados, que se encargarán de todos los servicios referentes a la propiedad. Colaboramos con todos los colegas del sector compartiendo la comercialización de las propiedades para realizarlo en el menor tiempo, con la mayor cantidad de ofertas y logrando el mejor precio que el mercado está dispuesto a ofrecer.
          %p Esto nos da la posibilidad de potenciar nuestros recursos junto al resto de las inmobiliarias, incorporando nuevas fuerzas de ventas y bajando los tiempos en cada transacción.
          %p Para los inversores que confían en nuestro trabajo contamos con amplio catálogo de propiedades dentro y fuera de Montevideo, con unidades en pozo, en construcción y de entrega inmediata.
          %h5 Encontramos una oportunidad hecha a tu medida.
  %section.about-containerb
    .container
      .row
        .col-12
          %h2 Algunos de nuestros servicios exclusivos:
          %h5 ¡Lográ mejores resultados en menos tiempo y con el mayor profesionalismo!
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/fotografia.svg', class: 'foto image', alt: ''
          .line
          %p
            %span Fotografía inmobiliaria
            %br
            Fotos y videos profesionales para resaltar la potencialidad de tu propiedad.
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/marketing.svg', class: 'marketing image', alt: ''
          .line
          %p
            %span Marketing digital
            %br
            Nos valemos de nuevas tecnologías para que tu propiedad esté donde está el público, con anuncios en redes sociales y portales digitales.
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/publicaciones.svg', class: 'publicaciones image', alt: ''
          .line
          %p
            %span Publicaciones específicas
            %br
            Realizaremos publicaciones estratégicas y avisos destacados en distintos medios para alcanzar a potenciales clientes.
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/reportes.svg', class: 'reportes image', alt: ''
          .line
          %p
            %span Reportes
            %br
            Nuestros clientes recibirán de forma quincenal un informe con el seguimiento de su propiedad.
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/tasasiones.svg', class: 'tasasiones image', alt: ''
          .line
          %p
            %span Tasación
            %br
            Tasación personalizada de tu propiedad a valor de mercado.
        .col-lg-4.col-xs-12
          = image_tag 'aboutPage/eventos.svg', class: 'eventos image', alt: ''
          .line
          %p
            %span Eventos
            %br
            Concurrimos a eventos inmobiliarios nacionales e internacionales.
  %section.about-containerc
    .container
      .row
        .col-12
          %h2 Conocé a nuestro equipo:
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/maria.png', class: 'agente', alt: ''
          %h5
            %span Ma. Noel Deamestoy
          %h5 Directora
          .line
          %p +598 94 440 224
          %p mdeamestoy@zonabrokers.com
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
            Ver propiedades
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/daniel.png', class: 'agente', alt: ''
          %h5
            %span Daniel Vilar
          %h5 Agente inmobiliario
          .line
          %p +598 96 171 386
          %p dvilar@zonabrokers.com
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
            Ver propiedades
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/camila.png', class: 'agente', alt: ''
          %h5
            %span Camila Páez
          %h5 Agente inmobiliario
          .line
          %p +598 97 792 360
          %p cpaez@zonabrokers.com
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
            Ver propiedades
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/joaquin.png', class: 'agente', alt: ''
          %h5
            %span Joaquín Navarro
          %h5 Agente inmobiliario
          .line
          %p +598 95 157 268
          %p jnavarro@zonabrokers.com
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
            Ver propiedades
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/gabriel.png', class: 'agente', alt: ''
          %h5
            %span Gabriel Montero
          %h5 Agente inmobiliario
          .line
          %p +598 93 985 102
          %p gmontero@zonabrokers.com
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}" }
            Ver propiedades
        .col-lg-4.col-xs-12.equipo
          = image_tag 'aboutPage/agentes/fagundez.png', class: 'agente', alt: ''
