- if SITE_CONFIG['set_og_tags']
  - set_meta_tags og: { title: 'Brokers', url: request.original_url, image: 'brokersPage/brokers-page.jpg' }
  - title 'Brokers'

.page-content
  %section.brokers-container.style-1
    .image-container
    .description.container
      .row
        .col-12
          %h2 ¿Por qué sumarte a brokers Brokers?
          %h5 Te proponemos sumarte al dinámico mundo del Real Estate, a través de un equipo que te brindará todo el respaldo, conocimiento y herramientas para que lideres tu propio emprendimiento.
        .col-lg-4.col-xs-12.motivo
          = image_tag 'brokersPage/respaldo.svg', class: 'image', alt: ''
          %p
            %span Respaldo
            %br
            Podrás sumarte a una empresa especializada en Real Estate con trayectoria de experiencia y un grupo consolidado de profesionales que te respalda.
        .col-lg-4.col-xs-12.motivo
          = image_tag 'brokersPage/honorarios.svg', class: 'image', alt: ''
          %p
            %span Honorarios
            %br
            Obtendrás honorarios atractivos y reglas claras en todo momento.
        .col-lg-4.col-xs-12.motivo
          = image_tag 'brokersPage/crecimiento.svg', class: 'image', alt: ''
          %p
            %span Crecimiento
            %br
            Te ofrecemos herramientas para tu desarrollo con inversión en marketing, espacio en plataforma tecnológica y visibilidad en medios.
        .col-lg-4.col-xs-12.motivo
          = image_tag 'brokersPage/capacitacion.svg', class: 'image', alt: ''
          %p
            %span Capacitación
            %br
            Fomentamos la formación de nuestros Brokers con jornadas de charlas y capacitaciones.
        .col-lg-4.col-xs-12.motivo
          = image_tag 'brokersPage/independencia.svg', class: 'image', alt: ''
          %p
            %span Independecia
            %br
            Tendrás libertad horaria y autonomía para organizar tu negocio de acuerdo a tus necesidades.
  %section.brokers-container
    .perfilBroker
      .brokerCol
        = image_tag 'brokersPage/staff.jpg', alt: 'img'
      .brokerCol.bg
        .innerColBroker
          %p.bigTitle Unite a nuestro staff
          %ul
            %li
              %i.icon-check
              Si deseás crecer profesional y económicamente con excelentes condiciones laborales.
            %li
              %i.icon-check
              Si tenés vocación por el servicio, acompañando y dando seguimiento a tus clientes.
            %li
              %i.icon-check
              Si sos una persona proactiva, con buenas habilidades de comunicación y voluntad.
            %li
              %i.icon-check
              Si disfrutás el mundo del Real Estate, hacer negocios y obtener buenos honorarios.
    .contact-container
      %h2 ¿Querés formar parte de Zona Brokers?
      %p.preContact Escribinos para tener una entrevista.
      = form_tag contact_index_path, method: 'post', id: 'contact-form', remote: true do
        .contact-form
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ name: 'name', placeholder: 'Nombre*', required: true, type: 'text', value: '' }
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ class: 'contact-email', name: 'email', placeholder: 'Email*', required: true, type: 'email', value: '' }
          .form-group.col-md-4.col-sm-4.col-xs-12
            %input{ name: 'phone', placeholder: 'Teléfono', required: false }
          %button.primary.big{ class: "style-#{SITE_CONFIG['buttons_style']}", type: 'submit', id: 'submit-button' } ¡Enviar Solicitud!
